<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>SWOT</title>
    <div th:replace="common :: theheader"></div>
</head>
<body >

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">
        <div class="logo mr-auto">
            <h1 class="text-light">
                <a href="index.html">EnterComputer</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="" alt="Logo" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li class="drop-down"><a href="#services">Solutions</a>
                    <ul>
                        <li><a href="#">ToDoList</a></li>
                        <li><a href="#">Swot Analysis</a></li>
                        <li><a href="#">TrackingEmployee</a></li>
                        <li class="drop-down"><a href="#">Services</a>
                            <ul>
                                <li><a href="#">Web&Mobile Application</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Bussniess Model</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header>
<!-- End Header -->

<section id="about" class="about">
    <div class="container">
        <form role="form" class="form-control"
              th:action="@{/swot}" th:object="${SWOT}" method="post">
            <div class="row">
                <!-- onload="onload()"
                onchange="changed()"
                onchange="changed()"
                onchange="changed()"
                -->
                <div class="section t-lft">
                    <h4>Strengths</h4>
                    <textarea th:field="*{strength}" id="strength"
                              placeholder="what makes you unique"
                              class="strength">
                </textarea>
                </div>
                <div class="section t-rtl">
                    <h4>Weaknesses</h4>
                    <textarea th:field="*{weakness}" id="weak" placeholder="what's might slow you" onchange="changed()"
                              class="weak">

                </textarea>
                </div>
            </div>
            <div class="row">
                <div class="section b-lft">
                    <h4>Opportunities</h4>
                    <textarea th:field="*{opportunity}" id="opportunity"
                              placeholder="some advantages"
                              class="opportunity">

                </textarea>
                </div>
                <div class="section b-rtl">
                    <h4>Threats</h4>
                    <textarea th:field="*{threat}" id="threat"
                              placeholder="potential opponents"
                              class="threat">

                </textarea>
                </div>
            </div>
            <div class="s-btn">
                <button type="submit">Send it to my email</button>
            </div>

        </form>
    </div>
</section>

<!--
 ======= Footer =======
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>EnterComputer</h3>
                        <p>
                            77 Nasr Street, Egypt <br>
                            Nasr City, Egypt<br><br>
                            <strong>Phone:</strong> +02 61 54 34<br>
                            <strong>Email:</strong> EC@example.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Solutions</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Team</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">ContactUs</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web&Mobile Applications</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">BusinessModel</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p style="color: #9fcdff">Let Us inform you with any updates</p>
                    <form th:action="@{/sendEmail}" method="post">
                        <input type="email" name="email"/> <input type="submit" value="Subscribe"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>EnterComputer</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="#">Shaimaa</a>
        </div>
    </div>
</footer>
 End Footer
-->

<!--<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>-->


<div th:replace="common :: foot"></div>
<!--

<script>
    function changed() {
        var strengths = document.getElementById('strength').value;
        var weaknesses = document.getElementById('weak').value;
        var opportunities = document.getElementById('opportunity').value;
        var threats = document.getElementById('threat').value;

        window.localStorage.setItem('data', JSON.stringify({
            strengths: strengths,
            weaknesses: weaknesses,
            opportunities: opportunities,
            threats: threats,
        }));
    }

    window.addEventListener('load', function () {
        console.log('Loaded');
        try {
            var data = JSON.parse(window.localStorage.getItem('data'));
        } catch (e) {
            console.log('Error');
            window.localStorage.setItem('data', '');
            return;
        }
        document.getElementById('strength').value = data.strengths;
        document.getElementById('weak').value = data.weaknesses;
        document.getElementById('opportunity').value = data.opportunities;
        document.getElementById('threat').value = data.threats;
    });
</script>
-->


</body>
</html>