<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{assets/css/tdl.css}">
   <!-- <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.cs}"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">-->
    <title>ToDo Management System</title>
</head>
<body>
<h1><span class="main">TODO</span>LIST</h1>
<div class="input_div">
    <input class="input" type="text" placeholder="What you want to do......?">
    <button class="addButton">
        <i class='bx bxs-plus-square'></i>
    </button>
</div>
<div class="container">
    <div class="item">
        <input type="text" value="List1" name="" class="item_input" disabled="">
        <button class="editButton">Edit</button>
        <button class="removeButton">Remove</button>
    </div>
    <div class="item">
        <input type="text" value="List2" name="" class="item_input" disabled="">
        <button class="editButton">Edit</button>
        <button class="removeButton">Remove</button>
    </div>
</div>
<!--<div class="container my-2">
    <h1>ToDo List</h1>

    <a th:href="@{/showNewTodoForm}" class="btn btn-primarybtn-smmb-3">
        Add ToDo </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ToDo Subject</th>
            <th>ToDo Body</th>
            <th>To Whome</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ToDo: ${ListOfToDos}">
            <td th:text="${ToDo.subject}"></td>
            <td th:text="${ToDo.body}"></td>
            <td th:text="${ToDo.to_whome}"></td>
            <td><a th:href="@{/showFormForUptade/{id}(id=${ToDo.id})}"
                   class="btn btn-primary">Update</a>
                <a th:href="@{/deletToDo/{id}(id=${ToDo.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>-->


<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{assets/js/tdl.js}"></script>

</body>
</html>